* {
  text-decoration: none !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border {
  margin-top: 2%;
}

.title{
  font-family: 'Bungee Outline', cursive;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Sansita Swashed', cursive;
  color: black;
  font-size: 4em;
  margin-top: 2%;
  margin-bottom: 3%;
}

/*STYLING ALL REMINDERS PAGE*/
.all-reminders {
  background-color: white;
  transition: transform .2s;
}


.all-reminders:hover {
  transform: scale(1.5)
}

